{% include "partials/header.twig" %}
<main class='main-content' id="app">
	<div class="block-with-video" style="background-image: url(./assets/images/banner_big.jpg);">
		<div class="main-banner-info">
			<h1 class="main-banner-title">Создание интернет-магазина</h1>
			<div class="main-banner-text">
				<p>Наверное, каждый предприниматель желает увеличить свою прибыль, расширить ассортимент товаров или услуг и выйти на новые рынки. В век технологий сделать это не позиционируясь в сети интернет практически невозможно. Но, если для многих видов бизнеса будет достаточно малостраничных имиджевых сайтов, то для бизнеса с большим количеством товаров или услуг не обойтись без собственного интернет-магазина.</p>
			</div>
			
		</div>
	</div>
	<div class="product-info">
		<div class="container-2">
			<div class="product-info-cms">
				    <div class="product-info-cms-item">
				    	<div class="product-info-cms-item-top">
				    		<div class="product-info-cms-item-img"><img src="./assets/images/cms-2.png" alt=""></div>
				    		<div class="product-info-cms-item-title"><h2>Создание сайта-визитки на WordPress</h2></div>
				    	</div>
				    	<div class="product-info-cms-item-text">Бесплатная CMS платформа, на которой удобно редактировать сайты любой сложности</div>
				    </div>
				    <div class="product-info-cms-item">
				    	<div class="product-info-cms-item-top">
				    		<div class="product-info-cms-item-img"><img src="./assets/images/cms-1.png" alt=""></div>
				    		<div class="product-info-cms-item-title"><h2>Создание сайта-визитки на Битрикс</h2></div>
				    	</div>
				    	<div class="product-info-cms-item-text">Платная CMS платформа Российской разработки от известной компании 1С. Платформа легко интегрируется с различными сервисами и модулями</div>
				    </div>
				    <div class="product-info-cms-item">
				    	<div class="product-info-cms-item-top">
				    		<div class="product-info-cms-item-img"><img src="./assets/images/php.png" alt=""></div>
				    		<div class="product-info-cms-item-title"><h2>Без CMS - самописная платформа</h2></div>
				    	</div>
				    	<div class="product-info-cms-item-text">Если ваш интернет-магазин будет обладать функциями у которых нет аналогов, вам нужен самописный сайт.</div>
				    </div>
				    <div class="product-info-cms-item">
				    	<div class="product-info-cms-item-top">
				    		<div class="product-info-cms-item-img"><img src="./assets/images/cms-4.png" alt=""></div>
				    		<div class="product-info-cms-item-title"><h2>OpenCard, PrestaShop, ModX - CMS для магазинов</h2></div>
				    	</div>
				    	<div class="product-info-cms-item-text">Готовые решения для интернет магазинов, это платформы которые уже имеют функционал необходимый для интернет магазинов</div>
				    </div>
			</div>
			<div class="product-info-content">
				<p>Разработка интернет-магазина гораздо сложнее, по сравнению с созданием других видов сайтов. Это обусловлено в первую очередь сложным функционалом, а так же большим количеством страниц.</p>
				<p>Есть 2 вида интернет магазинов: это сам <b>интернет-магазин</b> и второй <b>интернет-каталог</b><br>
				Чем же они отличаются друг от друга?</p>
				<div class="product-lists">
				<div class="product-list-item">
					<p><b>Интернет-магазин:</b></p>
				<ul>
					<li>Имеет основные страницы</li>
					<li>Каталог товаров</li>
					<li>Фильтр товаров</li>
					<li>Карточка товаров</li>
					<li>Корзина</li>
					<li>Форма оплаты и доставки</li>
					<li>Заказ в один клик и формы обратного звонка</li>
				</ul>
				</div>
				<div class="product-list-item">
					<p><b>Интернет-каталог:</b></p>
				<ul>
					<li>Имеет основные страницы</li>
					<li>Каталог товаров</li>
					<li>Фильтр товаров</li>
					<li>Карточка товаров</li>
					<li>Заказ в один клик и формы обратного звонка</li>
				</ul>
				</div>
				</div>
				<p>Выше мы перечислили только самые основные необходимые пункты интернет магазина и сайта каталога, а уж сколько можно добавить дополнительно! Например, возможна интеграция с  1С при разработке интернет-магазина. Это позволит оптимизировать ведение бухгалтерии, анализ продаж, все станет автоматизировано. Но это сложный процесс, поэтому разработчикам потребуется много времени и сил на реализацию такой задачи.</p>
			</div>
		</div>
	</div>

		<div class="order-site-with-bonus" data-aos="fade-up">
		<div class="triangle-decore-r"></div>
		<div class="container-2">
			<div class="order-site-left">
				<div class="order-site-left-name">Мы создаем сайты которые <span class="red_text">приводят клиентов</span><br>с ганрантией <span class="red_text">продвижения</span></div>
				<div class="order-site-left-text">При заказе сайта у нас, мы даем пожизненую гарантию на код, 5 лет защиты от вирусов и 1 месяц обслуживания сайта бесплатно</div>
				<div class="order-site-link"><a href="">Закажите сайт сейчас и получите бонус</a></div>
			</div>
			<div class="order-site-right">
				<div class="order-site-content">	
					<div class="order-site-content-inner visible" id="o1">
						<div class="order-site-content-inner-img"><img src="./assets/images/cross.jpg" alt=""></div>
						<div class="order-site-content-info">
							<div class="fake_yasearch">Мужские кроссовки для бега</div>
							<div class="order-site-content-name">Мужские кроссовки для бега</div>
							<div class="order-site-content-link"><a href="">Заказать</a></div>
							<div class="order-site-content-text">Мы подстраиваем страницу под каждый запрос</div>
						</div>
					</div>
					<div class="order-site-content-inner" id="o2">
						<div class="order-site-content-inner-img"><img src="./assets/images/geo.jpg" alt=""></div>
						<div class="order-site-content-info">
							<div class="fake_yasearch">Занятия йогой в Москве</div>
							<div class="order-site-content-name">Занятия йогой в Москве</div>
							<div class="order-site-content-link"><a href="">Записаться</a></div>
							<div class="order-site-content-text">Мы подстраиваем страницу под каждый запрос</div>
						</div>
					</div>
					<div class="order-site-content-inner" id="o3">
						<div class="order-site-content-inner-img"><img src="./assets/images/ab.jpg" alt=""></div>
						<div class="order-site-content-info">
							<div class="fake_yasearch">Мастер-класс по кроссфиту</div>
							<div class="order-site-content-name">Мастер-класс по кроссфиту</div>
							<div class="order-site-content-link"><a href="">Записаться</a></div>
							<div class="order-site-content-text">Мы подстраиваем страницу под каждый запрос</div>
						</div>
					</div>
					
				</div>
				<div class="order-site-content-buttons">
					<div class="choose-button active" data-id="o1">Мультисайт</div>
					<div class="choose-button" data-id="o2">Гео-сайт</div>
					<div class="choose-button" data-id="o3">А/Б Тестирование</div>
				</div>
			</div>
		</div>
		<div class="triangle-decore-l"></div>
	</div>
	<div class="seo-advantages" data-aos="fade-up">
		<div class="container-2">
			<div class="seo-advantages-item">
				<div class="seo-advantages-item-img"><img src="./assets/images/seo-trigger_1.png" alt=""></div>
				<div class="seo-advantages-item-text">Скидка 30% на продвижение сайта</div>
			</div>
			<div class="seo-advantages-item">
				<div class="seo-advantages-item-img"><img src="./assets/images/seo-trigger_2.png" alt=""></div>
				<div class="seo-advantages-item-text">Адаптивная версия сайта уже входит в цену</div>
			</div>
			<div class="seo-advantages-item">
				<div class="seo-advantages-item-img"><img src="./assets/images/seo-trigger_3.png" alt=""></div>
				<div class="seo-advantages-item-text">Полная SEO оптимизация сайта в подарок</div>
			</div>
		</div>
	</div>

	<div class="page-develop-content">
		<div class="container-2">
			<div class="page-develop-content-title">
				<h3>Разработка сайтов</h3>
			</div>
			<div class="page-develop-content-inner">
				<div class="left-column">
					<ul>
						<li><a href="">Лендинг Пейдж</a></li>
						<li><a href="">Корпоративные сайты</a></li>
						<li><a href="">Сайты визитки</a></li>
						<li class="active"><a href="">Интернет-магазин</a></li>
						<li><a href="">Каталог продукции</a></li>
						<li><a href="">Шаблонные сайты</a></li>
						<li><a href="">Порталы</a></li>
					</ul>
				</div>
				<div class="main-column">
					<div class="main-column-title"><h4>Создание интернет магазина цена</h4></div>
					<div class="main-column-inner">
					<div class="tariff-column tariff-column-1 desktop">
 						<div class="tariff-item tariff-item-more-main">Особенности</div>
						<div class="tariff-item">Срок разработки</div>
						<div class="tariff-item">Кол. страниц</div>
						<div class="tariff-item">Уникальный дизайн</div>
						<div class="tariff-item">Эффекты и анимации</div>
						<div class="tariff-item">Мобильная версия</div>
						<div class="tariff-item">Использование CMS (не конструктор)</div>
						<div class="tariff-item">SEO оптимизация</div>
						<div class="tariff-item">SSL сертификат</div>
						<div class="tariff-item">Интеграция CRM</div>
						<div class="tariff-item">Защита от вирусов</div>
						<div class="tariff-item">Региональный сайт</div>
						<div class="tariff-item">Мультисайт</div>
						<div class="tariff-item">Установка метрики, аналитики</div>
						<div class="tariff-item">Подарок</div>
					</div>
					<div class="tariff-column mobile tariff-column-2">
					
						<div class="tariff-top-title">
							Быстрый запуск	
							<img class="down-list" src="./assets/images/down-arrow.svg" alt="">						
						</div>
						<div class="tariff-price">
							42 000 руб
							
						</div>
						<div class="tariff-column-toggle">
						<div class="tariff-column-inner">
							<div class="tariff-column tariff-column-1 hidden">
		 						<div class="tariff-item tariff-item-more-main">Особенности</div>
								<div class="tariff-item">Срок разработки</div>
								<div class="tariff-item">Кол. страниц</div>
								<div class="tariff-item">Уникальный дизайн</div>
								<div class="tariff-item">Эффекты и анимации</div>
								<div class="tariff-item">Мобильная версия</div>
								<div class="tariff-item">Использование CMS (не конструктор)</div>
								<div class="tariff-item">SEO оптимизация</div>
								<div class="tariff-item">SSL сертификат</div>
								<div class="tariff-item">Интеграция CRM</div>
								<div class="tariff-item">Защита от вирусов</div>
								<div class="tariff-item">Региональный сайт</div>
								<div class="tariff-item">Мультисайт</div>
								<div class="tariff-item">Установка метрики, аналитики</div>
								<div class="tariff-item">Подарок</div>
							</div>
							<div class="tariff-column-visible">

								<div class="tariff-item tariff-item-more">
									<ul>
										<li>Быстрые сроки разработки</li>
										<li>Настроенный функционал для быстрых продаж</li>
										<li>Подходит под развивающийся магазин</li>
										<li>SEO оптимизация</li>
									</ul>
								</div>
								<div class="tariff-item">до 10 дней</div>
								<div class="tariff-item">без ограничений</div>	
								<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>	
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>	
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
								<div class="tariff-item">Анализ рынка</div>
							</div>
							<div class="more-info">
								<a href="#">Подробнее</a>
							</div>
							<div class="product-buy">
								<a href="#">Оставить заявку</a>
							</div>
						</div>
						</div>
					</div>

					<div class="tariff-column mobile tariff-column-3">
						<div class="tariff-top-title">
							Оптимальный
							<img class="down-list" src="./assets/images/down-arrow.svg" alt="">
						</div>
						<div class="tariff-price">
							от 70 000 руб
						</div>
						<div class="tariff-column-toggle">
						<div class="tariff-column-inner">
							<div class="tariff-column tariff-column-1 hidden">
		 						<div class="tariff-item tariff-item-more-main">Особенности</div>
								<div class="tariff-item">Срок разработки</div>
								<div class="tariff-item">Кол. страниц</div>
								<div class="tariff-item">Уникальный дизайн</div>
								<div class="tariff-item">Эффекты и анимации</div>
								<div class="tariff-item">Мобильная версия</div>
								<div class="tariff-item">Использование CMS (не конструктор)</div>
								<div class="tariff-item">SEO оптимизация</div>
								<div class="tariff-item">SSL сертификат</div>
								<div class="tariff-item">Интеграция CRM</div>
								<div class="tariff-item">Защита от вирусов</div>
								<div class="tariff-item">Региональный сайт</div>
								<div class="tariff-item">Мультисайт</div>
								<div class="tariff-item">Установка метрики, аналитики</div>
								<div class="tariff-item">Подарок</div>
							</div>
							<div class="tariff-column-visible">

						<div class="tariff-item tariff-item-more">
							<ul>
								<li>Уникальный дизайн</li>
								<li>SEO продвижение</li>
								<li>Подходит для всех видов продаж</li>
								<li>Быстрой начало продаж</li>
								<li>Интеграция 1С складом</li>
							</ul>
						</div>
						<div class="tariff-item">до 44 дней</div>
						<div class="tariff-item">без ограничений</div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item">SEO продвижение</div>
					</div>
						<div class="more-info">
							<a href="#">Подробнее</a>
						</div>
						<div class="product-buy">
							<a href="#">Оставить заявку</a>
						</div>
					</div>
					</div>
					</div>
					<div class="tariff-column mobile tariff-column-4">

						<div class="tariff-top-title">
							Уникальный
							<img class="down-list" src="./assets/images/down-arrow.svg" alt="">
						</div>
						<div class="tariff-price">
							от 100 000 руб
						</div>
						<div class="tariff-column-toggle">
						<div class="tariff-column-inner">
							<div class="tariff-column tariff-column-1 hidden">
		 						<div class="tariff-item tariff-item-more-main">Особенности</div>
								<div class="tariff-item">Срок разработки</div>
								<div class="tariff-item">Кол. страниц</div>
								<div class="tariff-item">Уникальный дизайн</div>
								<div class="tariff-item">Эффекты и анимации</div>
								<div class="tariff-item">Мобильная версия</div>
								<div class="tariff-item">Использование CMS (не конструктор)</div>
								<div class="tariff-item">SEO оптимизация</div>
								<div class="tariff-item">SSL сертификат</div>
								<div class="tariff-item">Интеграция CRM</div>
								<div class="tariff-item">Защита от вирусов</div>
								<div class="tariff-item">Региональный сайт</div>
								<div class="tariff-item">Мультисайт</div>
								<div class="tariff-item">Установка метрики, аналитики</div>
								<div class="tariff-item">Подарок</div>
							</div>
							<div class="tariff-column-visible">

						<div class="tariff-item tariff-item-more">
							<ul>
								<li>Уникальный дизайн</li>
								<li>SEO продвижение</li>
								<li>Подстроение под местоположение</li>
								<li>Уникальный функционал</li>
								<li>Подходит для большого количества товаров</li>
							</ul>
						</div>
						<div class="tariff-item">от 30 дней</div>
						<div class="tariff-item">без ограничений</div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item">Система рассылки 1 год</div>
					</div>
						<div class="more-info">
							<a href="#">Подробнее</a>
						</div>
						<div class="product-buy">
							<a href="#">Оставить заявку</a>
						</div>
					</div>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="blue-info-block" style="padding: 50px 0 170px;">
		<div class="industry-row" data-aos="fade-up">
			<div class="blue-info-block-title">Не знаете какой выбрать тариф?<br>Тогда выберите свою тематику</div>
			<div class="industry-row-grid">
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr10.png" alt=""></i>
						<p>Строительные материалы</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr14.png" alt=""></i>
						<p>Магазин одежды и обуви</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr4.png" alt=""></i>
						<p>Салон штор</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr16.png" alt=""></i>
						<p>Мебельные салоны</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr13.png" alt=""></i>
						<p>Детские товары</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr7.png" alt=""></i>
						<p>Кафе и рестораны</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr8.png" alt=""></i>
						<p>Магазин люстр и освещения</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr12.png" alt=""></i>
						<p>Индустриальное производство</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr9.png" alt=""></i>
						<p>Агентство недвижимости</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr11.png" alt=""></i>
						<p>Медицинские услуги и товары</p>
					</a>
			</div>
		</div>
		<div class="other-services-row" data-aos="fade-up">
			<div class="blue-info-block-title" style="margin-bottom: 12px;">Дальнейшее продвижение сайта</div>
			<div class="blue-info-block-under-title">Услуги которые нужны после разработки сайта</div>
			<div class="other-services-row-grid">
					<div class="other-services-item columns-list">
						<div class="other-services-item-name">Продвижение</div>
						<ul>
							<li><a href="">Продвижение сайтов</a></li>
							<li><a href="">Обслуживание сайта</a></li>
							<li><a href="">SEO оптимизация (одноразовая)</a></li>
							<li><a href="">Полный интернет маркетинг</a></li>
							<li><a href="">Контекстная реклама</a></li>
							<li><a href="">Анализ конкурентов</a></li>
							<li><a href="">SMM - работа с соц. сетями</a></li>
							<li><a href="">Написание статей</a></li>
							<li><a href="">Работа с репутацией</a></li>
							<li><a href="">Анализ сайта по 120 пунктам</a></li>
						</ul>
					</div>
			</div>
		</div>
		<div class="about-company-row cs-info_nonan" data-aos="fade-up" style="padding: 0px 0 60px 0;">
			<div class="about-company-row-info">
				<div class="blue-info-block-title">Создание интернет магазина под ключ</div>
				<div class="about-company-row-text">
					<p>Разработка сайт интернет-магазина включает в себя работу сразу нескольких специалистов, даже на самых начальных этапах. Из работы каждого из них и складывается цена на разработку интернет-магазина. Важно понимать, что при наличии возможности онлайн-оплаты в интернет-магазине очень важно, чтобы все проходило гладко, деньги поступали на нужный расчетный счет, а товар отгружался покупателю. Именно поэтому экономить на стоимости разработке интернет-магазина ни в коем случае нельзя. В противном случае это сможет ударить не только по репутации, но и по материальной базе вашей компании. </p>	
				</div>
			</div>
			<div class="cs-info__rtrs-map" style="align-items: flex-end; margin-top: 0;">
				<div class="cs-info__rtrs-pic-wrap">
					<picture class="cs-info__picture">
						<img src="./assets/images/shop-map.png" alt="big-map" class="cs-info__image cs-info__image--rtrs-map">
					</picture>
				</div>
			</div>
		</div>
		<div class="why-we-row cs-info_nonan" data-aos="fade-up">
			<div class="cs-info__rtrs-analytics">
				<div class="cs-info__rtrs-pic-wrap v-appeared">
					<picture class="cs-info__picture cs-info__picture">
						<img src="./assets/images/0cdbfbc.png" alt="analytics" class="cs-info__image cs-info__image--rtrs-analytics">
					</picture>
					<div class="cs-info__rtrs-layers cs-info__rtrs-layers--blue">
						<img src="./assets/images/square3.png" alt="layer" class="cs-info__image cs-info__image--layer-4">
						<img src="./assets/images/square2.png" alt="layer" class="cs-info__image cs-info__image--layer-3">
						<img src="./assets/images/square2.png" alt="layer" class="cs-info__image cs-info__image--layer-2">
						<img src="./assets/images/square1.png" alt="layer" class="cs-info__image cs-info__image--layer-1">
					</div>
					<div class="cs-info__rtrs-layers cs-info__rtrs-layers--red">
						<img src="./assets/images/square4.png" alt="layer" class="cs-info__image cs-info__image--layer-4">
						<img src="./assets/images/square2.png" alt="layer" class="cs-info__image cs-info__image--layer-3">
						<img src="./assets/images/square2.png" alt="layer" class="cs-info__image cs-info__image--layer-2">
						<img src="./assets/images/square1.png" alt="layer" class="cs-info__image cs-info__image--layer-1">
					</div>
					
				</div>
			</div>
			<div class="why-we-row-inner">
				<div class="blue-info-block-title">Почему заказать интернет-магазин лучше у нас</div>
				<div class="why-we-row-text">
					<p>Качественно созданный интернет-магазин позволяет очень быстро увеличить продажи. Заказав разработку сайта у нас, вы получаете множество преимуществ:</p>
					<ul>
						<li>Сверхмощная продающая структура. Структура сайта создается на основе данных, полученных в ходе изучения особенностей вашего бизнеса и потребностей клиентов.</li>
						<li>Уникальный дизайн. Для каждого клиента мы разрабатываем индивидуальный интерфейс, благодаря чему вы не будете сливаться с конкурентами.</li>
						<li>Четкое соблюдение сроков. Наша команда предоставит вам готовый вариант строго в установленные сроки.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="form-and-advantages" data-aos="fade-up">
		<div class="container">
			<div class="main-page-form">
				<img src="./assets/images/manager.png" alt="">
				<div class="main-page-form-inner">
					<div class="main-page-form-title"><h2>Заказать интернет-магазин</h2> по телефону</div>
					<div class="main-page-form-name">Хотите получить консултацию на понятном языке?</div>
					<form action="">
						<input class="managInput" type="phone" placeholder="+7 (___) ___-__-__">
						<input class="managSubmit" type="submit" value="Отправить">
					</form>
				</div>
			</div>
			<div class="advantages-content">
				<div class="advantages-item">
					<div class="advantages-item-num">392</div>
					<div class="advantages-item-text">Сделали сайтов<br>за 5 лет</div>
				</div>
				<div class="advantages-item">
					<div class="advantages-item-num">280</div>
					<div class="advantages-item-text">Ежедневно приносят<br>прибыль владельцам</div>
				</div>
				<div class="advantages-item">
					<div class="advantages-item-num">128</div>
					<div class="advantages-item-text">Сайтов продвинули<br>в ТОП <span class="red_text">Я</span>ндекс и <span class="blue_text">Google</span></div>
				</div>
				<div class="advantages-item">
					<div class="advantages-item-num">12</div>
					<div class="advantages-item-text">Сайтов ТОП уровня</div>
				</div>
			</div>
		</div>
	</div>
	<div class="our-works_block" data-aos="fade-up">
			<div class="our-works-title">Наши последние работы</div>
			<div class="our-works-text">Каждый месяц мы запускаем от 10 до 15 сайтов, каждый сайт индивидуально сделан для наших клиентов и имеет уникальный дизайн. Все наши работы вы можете посмотреть в разделе <a href="">портфолио</a></div>
			<div class="our-works-inner">
				<div class="swiper-container our-works-swiper">
    				<div class="swiper-wrapper">
						{% for item in 0..7 %}
						<div class="swiper-slide our-works-swiper-content">
							<a href="" class="our-works-item" style="background-image: url(./assets/images/work.jpg);">
								<div class="our-works-item-info">
									<div class="our-works-item-name">Сайт фотографа</div>
									<div class="our-works-item-link">Подробнее</div>
								</div>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="swiper-button-prev"><img src="./assets/images/swiper-left_w.png" alt=""></div>
    			<div class="swiper-button-next"><img src="./assets/images/swiper-right_w.png" alt=""></div>
			</div>
			<div class="all-works-link"><a href="">Открыть все работы</a></div>
	</div>
	<div class="about-company-block" data-aos="fade-up">
		<div class="container-2">
			<div class="about-company-block-content">
			<div class="block-long-seo-content">
				<div class="seo-content-img">
					<img src="./assets/images/shop1.jpg" alt="">	
				</div>
				<div class="seo-content-info">
					<div class="seo-content-info-title"><h3>Cоздание интернет магазина под ключ</h3></div>
					<div class="seo-content-info-text">
						<p>При заказе создания интернет-магазина можно дополнительно выбрать много интересного функционала, который будет дополнительно будет у вас присутствовать. Вплоть до автоматической отправке писем при регистрации на сайте или триггерных рассылок. Все это необходимо индивидуально обсуждать  с нашими специалистами.<br>
						Мы подходим индивидуально к каждому нашему клиенту, поэтому сможем подобрать оптимальное предложение, которое подойдет именно вам. Важно понимать, что окончательную цену на создание интернет-магазина наши специалисты смогут озвучить только после тщательного составленного технического задания. Но не стоит пугаться, мы поможем во всем разобраться, проконсультируем по всем возникающим вопросам.</p>
					</div>
				</div>
			</div>
			<div class="block-long-seo-content">
				<div class="seo-content-img">
					<img src="./assets/images/shop2.jpg" alt="">	
				</div>
				<div class="seo-content-info">
					<div class="seo-content-info-text">
						<p>Но сделать интернет-магазин  это только начало пути. После этого наступает не менее ответственный этап – его заполнение, поисковое продвижение и реклама. При наличии большого количества товаров самостоятельное заполнение может занять недели, а то и месяцы скучного ручного труда. И здесь мы будем рады предложить услуги по автоматизированному заполнению карточек товаров.</p> 
						<p>Мы так же неплохо разбираемся в интернет-рекламе и поисковому продвижению. И, хотя, поисковое продвижение и долгий процесс, но воспользовавшись услугами контекстной рекламы вы сможете начать продавать свой товар уже сразу после открытия интернет-магазина. Наши специалисты помогут вам в настройке контекстной рекламы и оптимизируют сайт интернет-магазина для максимально быстрого поискового продвижения.</p>
						<p>Заказывая создание интернет-магазина у нас, вы получаете не только готовое решение для вашего бизнеса с учетом всех пожеланий, но и возможность получить всестороннюю поддержку по дальнейшему развитию вашего сайта. Надеемся на долгое сотрудничество!</p>
					</div>
				</div>
				
			</div>
			</div>
		</div>
	</div>
	<div class="suits-triggers-block">
		<div class="container-2">
			<div class="suits-triggers-block-title">Выгода интернет-магазина</div>
			<div class="suits-triggers-block-content">
				<div class="suits-triggers-item">
					<div class="suits-triggers-item-img"><img src="./assets/images/tr-4.png" alt=""></div>
					<div class="suits-triggers-item-info">
						<div class="suits-triggers-item-name">Аренда</div>
						<div class="suits-triggers-item-text">Стоимость домена и хостинга на год стоставляет от 1200 до 1000 руб/год</div>
					</div>
				</div>
				<div class="suits-triggers-item">
					<div class="suits-triggers-item-img"><img src="./assets/images/tr-1.png" alt=""></div>
					<div class="suits-triggers-item-info">
						<div class="suits-triggers-item-name">Персонал</div>
						<div class="suits-triggers-item-text">Вам не нужен будет персонал, продажи будет делать сайт 24/7</div>
					</div>
				</div>
				<div class="suits-triggers-item">
					<div class="suits-triggers-item-img"><img src="./assets/images/tr-3.png" alt=""></div>
					<div class="suits-triggers-item-info">
						<div class="suits-triggers-item-name">Области продаж</div>
						<div class="suits-triggers-item-text">Вы не привязаны к одному месту аренды, продавайте по всему миру не выходя из дома</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gifts-numbers_block">
		<img class="gifts-img" src="./assets/images/gift.png" alt="">
		<div class="gifts-info">
			<div class="gifts-info-title">Мы каждый день дарим подарки</div>
			<div class="gifts-info-text">Все любят получать подарки, а мы любим дарить 
подарки! Каждый день мы дарим нашим клиентам
SEO продвижение, настройку рекламы и многое другое. 
Позвони и получи гарантированный подарок</div>
		</div>
		<div class="gifts-numbers">
			<div class="gifts-numbers-name">Позвони сейчас</div>
			<a href="">+7 (800) 201-55-27</a>
			<a href="">+7 (991) 312-09-06</a>
		</div>
	</div>
	<div class="bottom-seo-content" data-aos="fade-up" style="background-color: #fff;">
		<div class="container-3">
			<div class="video-title">Видео о нашей студии</div>
			<div class="video-block youtube" data-embed="UTgijnMNr6s" data-aos="fade-up">
        <div class="play-button">
            <img src="./assets/images/play.png" alt="">
        </div> 
    </div>
    <div class="under-video-text">
    	<b>Студия IS ART</b> - занимается созданием и продвижением сайтов с 2015 года. Мы ставим в приоритет дизайн и интернет-маркетинг, поэтому наши сайты продают товары, а не просто висят в интернете!
    </div>
		</div>
	</div>
		<div class="our-team" data-aos="fade-up" style="background-color: #fff; padding-bottom: 30px;">
		<div class="container-2">
			<div class="our-team-title" style="text-align: center;">Наша команда</div>
			<div class="swiper-container our-team-swiper">
	    		<div class="swiper-wrapper our-team-swiper">
					{% for item in 0..7 %}
					<div class="swiper-slide our-team-swiper-content">
						<div class="our-team-photo"><img src="./assets/images/team.jpg" alt=""></div>
						<div class="our-team-name">Олег Фадеев</div>
						<div class="our-team-post">Front-end разработчик</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="sertificates_block" data-aos="fade-up" style="background-color: #fff; padding-top: 30px;">
		<div class="container-3">
			<div class="sertificates_block-title">Сертификаты</div>
			<div class="swiper-container sertificates-swiper">
    			<div class="swiper-wrapper">
    				{% for item in 0..5 %}	
					<div class="swiper-slide">
						<a class="sertificates-swiper-content" href=""><img src="./assets/images/cross.jpg" alt=""></a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="main-page-blog" data-aos="fade-up">
		<div class="container-2">
			<div class="main-page-blog-title">Интересная информация</div>
			<div class="main-page-blog-content">
				{% for item in 0..3 %}
				<a href="https://is-art.ru/bitrix-ili-wordpress-sravnenie-platform/" class="main-page-blog-item" style="background-image: url(https://is-art.ru/wp-content/uploads/2020/01/bfdb86f719f67b0b5843e22c901cf427.jpg);">
					<object><a href="https://is-art.ru/category/blog/" class="main-page-blog-item-price">Блог</a></object>
					<div class="main-page-blog-item-info">
						<div class="main-page-blog-item-info-content">
						<div class="main-page-blog-item-name"><h4>Bitrix или WordPress – сравнение платформ</h4></div>
						<div class="main-page-blog-item-text">
							<p>Битрикс или WordPress: почему дорого – не всегда круто? Если вы решите разработать сайт для своего бизнеса, то после выбора доменного имени (имени сайта) и хостинга (места для хранения файлов сайта) вам следует уделить второе…</p>
						</div>
						</div>
						<div class="main-page-blog-item-links">
							<div class="open-link"><span>Подробнее</span></div>
						</div>
					</div>
				</a>
				{% endfor %}                  
            </div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}