{% include "partials/header.twig" %}
<main class='main-content' id="app">
	<div class="single-portfolio_block">
	<div class="category-portfolio_header">
		<div class="container-2">
			<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a class="breadcrumbs__link" href="https://is-art.ru/" itemprop="item"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1"></span><span class="breadcrumbs__separator"> / </span><span class="breadcrumbs__current">Наши работы</span></div>

			<div class="portfolio-title"><h1>Сайт Дром-Сервис</h1></div>
			<div class="portfolio-task">
				<div class="portfolio-task-name">Задача:</div>
				<div class="portfolio-task-content">
					This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi
				</div>
			</div>
			<div class="portfolio-filter single-portfolio-filter">
				<div class="single-portfolio-filter-item">
					<div class="single-portfolio-filter-item-name">Категории сайта</div>
					<div class="site-category-link"><a href="">Интернет магазин</a></div>
					<div class="site-category-link"><a href="">Мебель</a></div>
				</div>
				<div class="single-portfolio-filter-item">
					<div class="single-portfolio-filter-item-name">CMS</div>
					<div class="cms-name">WordPress</div>
				</div>
				<div class="single-portfolio-filter-item">
					<div class="single-portfolio-filter-item-name">Посмотреть сайт</div>
					<a href="" class="work-site-link">https://drom-service.ru/</a>
				</div>
				<div class="single-portfolio-filter-item">
					<div class="single-portfolio-filter-item-name">Над сайтом работали</div>
					<div class="portfolio-devs">
						<div class="dev-item"><img src="./assets/images/dev.jpg" alt=""></div>
						<div class="dev-item"><img src="./assets/images/dev.jpg" alt=""></div>
						<div class="dev-item"><img src="./assets/images/dev.jpg" alt=""></div>
						<div class="dev-item"><img src="./assets/images/dev.jpg" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="single-portfolio-content">
		<img src="./assets/images/maket.jpg" alt="">
	</div>
	</div>
</main>
{% include "partials/footer.twig" %}