{% include "partials/header.twig" %}
<main class='main-content vizitka' id="app">
	<div class="block-with-video" style="background-image: url(./assets/images/banner_big.jpg);">
		<div class="main-banner-info">
			<h1 class="main-banner-title">Создание сайтов-визиток в Москве</h1>
			<div class="main-banner-text">
				<p>Сайт-визитка представляет собой виртуальную визитную карточку, на которой собрана основная информация о деятельности компании. Благодаря такому простому сайту вы получаете отличную возможность увеличить доходы и повысить статус своего предприятия. Заказав сайт визитку у нас, вы получите удобную панель управления сайтом и индивидуальный дизайн по доступной цене.</p>
			</div>
			<div class="main-banner-info-triggers">
				<div class="main-banner-info-triggers-name">Кому подойдет сайт визитка?</div>
				<div class="main-banner-info-triggers-content">
				<div class="main-banner-info-trigger">
					<div class="main-banner-info-trigger-image"><img src="./assets/images/trigger-1.png" alt=""></div>
					<div class="main-banner-info-trigger-text">Заявить о себе в интернете</div>
				</div>
				<div class="main-banner-info-trigger">
					<div class="main-banner-info-trigger-image"><img src="./assets/images/trigger-2.png" alt=""></div>
					<div class="main-banner-info-trigger-text">У вас малый или средний бизнес</div>
				</div>
				<div class="main-banner-info-trigger">
					<div class="main-banner-info-trigger-image"><img src="./assets/images/trigger-3.png" alt=""></div>
					<div class="main-banner-info-trigger-text">Работаете в небольшом городе</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product-info">
		<div class="container-2">
			<div class="product-info-cms">
				    <div class="product-info-cms-item">
				    	<div class="product-info-cms-item-top">
				    		<div class="product-info-cms-item-img"><img src="./assets/images/cms-2.png" alt=""></div>
				    		<div class="product-info-cms-item-title"><h2>Создание сайта-визитки на WordPress</h2></div>
				    	</div>
				    	<div class="product-info-cms-item-text">Бесплатная CMS платформа, на которой удобно редактировать сайты любой сложности</div>
				    </div>
				    <div class="product-info-cms-item">
				    	<div class="product-info-cms-item-top">
				    		<div class="product-info-cms-item-img"><img src="./assets/images/cms-1.png" alt=""></div>
				    		<div class="product-info-cms-item-title"><h2>Создание сайта-визитки на Битрикс</h2></div>
				    	</div>
				    	<div class="product-info-cms-item-text">Платная CMS платформа Российской разработки от известной компании 1С. Платформа легко интегрируется с различными сервисами и модулями</div>
				    </div>
			</div>
			<div class="product-info-content">
				<p>Сайт визитка – это лицо компании. Конечно, можно обойтись и без него, но при наличии такого ресурса вы получите поток новых клиентов и партнеров, рост известности фирмы и престижный имидж без максимальных затрат на содержание.</p>
				<p><b>Сайт-визитка обладает следующими преимуществами:</b></p>
				<ul>
					<li>Быстрое обновление информации в случае необходимости.</li>
					<li>Экономия бюджета, выделенного на рекламу.</li>
					<li>Предоставление потенциальным клиентам информации 24 часа в сутки.</li>
					<li>Отсутствие необходимости постоянного обслуживания контента.</li>
					<li>Простота подачи информации.</li>
					<li>Возможность модернизации и расширения платформы в будущем.</li>
					<li>Невысокая стоимость разработки сайта.</li>
				</ul>
			</div>
		</div>
	</div>

		<div class="order-site-with-bonus" data-aos="fade-up">
		<div class="triangle-decore-r"></div>
		<div class="container-2">
			<div class="order-site-left">
				<div class="order-site-left-name">Мы создаем сайты которые <span class="red_text">приводят клиентов</span><br>с ганрантией <span class="red_text">продвижения</span></div>
				<div class="order-site-left-text">При заказе сайта у нас, мы даем пожизненую гарантию на код, 5 лет защиты от вирусов и 1 месяц обслуживания сайта бесплатно</div>
				<div class="order-site-link"><a href="">Закажите сайт сейчас и получите бонус</a></div>
			</div>
			<div class="order-site-right">
				<div class="order-site-content">	
					<div class="order-site-content-inner visible" id="o1">
						<div class="order-site-content-inner-img"><img src="./assets/images/cross.jpg" alt=""></div>
						<div class="order-site-content-info">
							<div class="fake_yasearch">Мужские кроссовки для бега</div>
							<div class="order-site-content-name">Мужские кроссовки для бега</div>
							<div class="order-site-content-link"><a href="">Заказать</a></div>
							<div class="order-site-content-text">Мы подстраиваем страницу под каждый запрос</div>
						</div>
					</div>
					<div class="order-site-content-inner" id="o2">
						<div class="order-site-content-inner-img"><img src="./assets/images/geo.jpg" alt=""></div>
						<div class="order-site-content-info">
							<div class="fake_yasearch">Занятия йогой в Москве</div>
							<div class="order-site-content-name">Занятия йогой в Москве</div>
							<div class="order-site-content-link"><a href="">Записаться</a></div>
							<div class="order-site-content-text">Мы подстраиваем страницу под каждый запрос</div>
						</div>
					</div>
					<div class="order-site-content-inner" id="o3">
						<div class="order-site-content-inner-img"><img src="./assets/images/ab.jpg" alt=""></div>
						<div class="order-site-content-info">
							<div class="fake_yasearch">Мастер-класс по кроссфиту</div>
							<div class="order-site-content-name">Мастер-класс по кроссфиту</div>
							<div class="order-site-content-link"><a href="">Записаться</a></div>
							<div class="order-site-content-text">Мы подстраиваем страницу под каждый запрос</div>
						</div>
					</div>
					
				</div>
				<div class="order-site-content-buttons">
					<div class="choose-button active" data-id="o1">Мультисайт</div>
					<div class="choose-button" data-id="o2">Гео-сайт</div>
					<div class="choose-button" data-id="o3">А/Б Тестирование</div>
				</div>
			</div>
		</div>
		<div class="triangle-decore-l"></div>
	</div>
	<div class="seo-advantages" data-aos="fade-up">
		<div class="container-2">
			<div class="seo-advantages-item">
				<div class="seo-advantages-item-img"><img src="./assets/images/seo-trigger_1.png" alt=""></div>
				<div class="seo-advantages-item-text">Скидка 30% на продвижение сайта</div>
			</div>
			<div class="seo-advantages-item">
				<div class="seo-advantages-item-img"><img src="./assets/images/seo-trigger_2.png" alt=""></div>
				<div class="seo-advantages-item-text">Адаптивная версия сайта уже входит в цену</div>
			</div>
			<div class="seo-advantages-item">
				<div class="seo-advantages-item-img"><img src="./assets/images/seo-trigger_3.png" alt=""></div>
				<div class="seo-advantages-item-text">Полная SEO оптимизация сайта в подарок</div>
			</div>
		</div>
	</div>

	<div class="page-develop-content">
		<div class="container-2">
			<div class="page-develop-content-title">
				<h3>Разработка сайтов</h3>
			</div>
			<div class="page-develop-content-inner">
				<div class="left-column">
					<ul>
						<li><a href="">Лендинг Пейдж</a></li>
						<li><a href="">Корпоративные сайты</a></li>
						<li><a href="">Сайты визитки</a></li>
						<li><a href="">Интернет-магазин</a></li>
						<li><a href="">Каталог продукции</a></li>
						<li><a href="">Шаблонные сайты</a></li>
						<li><a href="">Порталы</a></li>
					</ul>
				</div>
				<div class="main-column">
					<div class="main-column-title"><h4>Сайт визитка - цена</h4></div>
					<div class="main-column-inner">
					<div class="tariff-column tariff-column-1 desktop">
 						<div class="tariff-item tariff-item-more-main">Особенности</div>
						<div class="tariff-item">Срок разработки</div>
						<div class="tariff-item">Кол. страниц</div>
						<div class="tariff-item">Уникальный дизайн</div>
						<div class="tariff-item">Эффекты и анимации</div>
						<div class="tariff-item">Мобильная версия</div>
						<div class="tariff-item">Использование CMS (не конструктор)</div>
						<div class="tariff-item">SEO оптимизация</div>
						<div class="tariff-item">SSL сертификат</div>
						<div class="tariff-item">Интеграция CRM</div>
						<div class="tariff-item">Защита от вирусов</div>
						<div class="tariff-item">Региональный сайт</div>
						<div class="tariff-item">Мультисайт</div>
						<div class="tariff-item">Установка метрики, аналитики</div>
						<div class="tariff-item">Подарок</div>
					</div>
					<div class="tariff-column mobile tariff-column-2">
					
						<div class="tariff-top-title">
							Стандартный	
							<img class="down-list" src="./assets/images/down-arrow.svg" alt="">						
						</div>
						<div class="tariff-price">
							25 000 руб
							
						</div>
						<div class="tariff-column-toggle">
						<div class="tariff-column-inner">
							<div class="tariff-column tariff-column-1 hidden">
		 						<div class="tariff-item tariff-item-more-main">Особенности</div>
								<div class="tariff-item">Срок разработки</div>
								<div class="tariff-item">Кол. страниц</div>
								<div class="tariff-item">Уникальный дизайн</div>
								<div class="tariff-item">Эффекты и анимации</div>
								<div class="tariff-item">Мобильная версия</div>
								<div class="tariff-item">Использование CMS (не конструктор)</div>
								<div class="tariff-item">SEO оптимизация</div>
								<div class="tariff-item">SSL сертификат</div>
								<div class="tariff-item">Интеграция CRM</div>
								<div class="tariff-item">Защита от вирусов</div>
								<div class="tariff-item">Региональный сайт</div>
								<div class="tariff-item">Мультисайт</div>
								<div class="tariff-item">Установка метрики, аналитики</div>
								<div class="tariff-item">Подарок</div>
							</div>
							<div class="tariff-column-visible">

								<div class="tariff-item tariff-item-more">
									<ul>
										<li>Подходит под любые виды рекламы</li>
										<li>Возможность тестирование бизнеса и ниши</li>
										<li>Подходит под временные акции</li>
									</ul>
								</div>
								<div class="tariff-item">до 5 дней</div>
								<div class="tariff-item">1 страница</div>	
								<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>	
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>	
								<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
								<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
								<div class="tariff-item">Анализ конкурентов</div>
							</div>
							<div class="more-info">
								<a href="#">Подробнее</a>
							</div>
							<div class="product-buy">
								<a href="#">Оставить заявку</a>
							</div>
						</div>
						</div>
					</div>

					<div class="tariff-column mobile tariff-column-3">

						<div class="tariff-top-title">
							Региональный
							<img class="down-list" src="./assets/images/down-arrow.svg" alt="">
						</div>
						<div class="tariff-price">
							35 000 руб
						</div>
						<div class="tariff-column-toggle">
						<div class="tariff-column-inner">
							<div class="tariff-column tariff-column-1 hidden">
		 						<div class="tariff-item tariff-item-more-main">Особенности</div>
								<div class="tariff-item">Срок разработки</div>
								<div class="tariff-item">Кол. страниц</div>
								<div class="tariff-item">Уникальный дизайн</div>
								<div class="tariff-item">Эффекты и анимации</div>
								<div class="tariff-item">Мобильная версия</div>
								<div class="tariff-item">Использование CMS (не конструктор)</div>
								<div class="tariff-item">SEO оптимизация</div>
								<div class="tariff-item">SSL сертификат</div>
								<div class="tariff-item">Интеграция CRM</div>
								<div class="tariff-item">Защита от вирусов</div>
								<div class="tariff-item">Региональный сайт</div>
								<div class="tariff-item">Мультисайт</div>
								<div class="tariff-item">Установка метрики, аналитики</div>
								<div class="tariff-item">Подарок</div>
							</div>
							<div class="tariff-column-visible">

						<div class="tariff-item tariff-item-more">
							<ul>
								<li>Подстроение под место положение</li>
								<li>Имеет SEO оптимизацию</li>
								<li>Возможность расширения до сайта визитки</li>
							</ul>
						</div>
						<div class="tariff-item">до 14 дней</div>
						<div class="tariff-item">1 страница + города</div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/false.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item">Настройка рекламы</div>
					</div>
						<div class="more-info">
							<a href="#">Подробнее</a>
						</div>
						<div class="product-buy">
							<a href="#">Оставить заявку</a>
						</div>
					</div>
					</div>
					</div>
					<div class="tariff-column mobile tariff-column-4">

						<div class="tariff-top-title">
							Максимальный
							<img class="down-list" src="./assets/images/down-arrow.svg" alt="">
						</div>
						<div class="tariff-price">
							55 000 руб
						</div>
						<div class="tariff-column-toggle">
						<div class="tariff-column-inner">
							<div class="tariff-column tariff-column-1 hidden">
		 						<div class="tariff-item tariff-item-more-main">Особенности</div>
								<div class="tariff-item">Срок разработки</div>
								<div class="tariff-item">Кол. страниц</div>
								<div class="tariff-item">Уникальный дизайн</div>
								<div class="tariff-item">Эффекты и анимации</div>
								<div class="tariff-item">Мобильная версия</div>
								<div class="tariff-item">Использование CMS (не конструктор)</div>
								<div class="tariff-item">SEO оптимизация</div>
								<div class="tariff-item">SSL сертификат</div>
								<div class="tariff-item">Интеграция CRM</div>
								<div class="tariff-item">Защита от вирусов</div>
								<div class="tariff-item">Региональный сайт</div>
								<div class="tariff-item">Мультисайт</div>
								<div class="tariff-item">Установка метрики, аналитики</div>
								<div class="tariff-item">Подарок</div>
							</div>
							<div class="tariff-column-visible">

						<div class="tariff-item tariff-item-more">
							<ul>
								<li>Подстроение под запросы</li>
								<li>Подстроение под место положение</li>
								<li>Имеет SEO оптимизацию</li>
								<li>Новостной блог</li>
								<li>Возможность расширения до корпоративного сайта</li>
							</ul>
						</div>
						<div class="tariff-item">до 22 дней</div>
						<div class="tariff-item">до 50 страниц</div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>	
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item"><img src="./assets/images/check.png" alt=""></div>
						<div class="tariff-item">Анализ конкурентов</div>
					</div>
						<div class="more-info">
							<a href="#">Подробнее</a>
						</div>
						<div class="product-buy">
							<a href="#">Оставить заявку</a>
						</div>
					</div>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="blue-info-block" style="padding: 50px 0 170px;">
		<div class="container">
		<div class="industry-row" data-aos="fade-up">
			<div class="blue-info-block-title">Не знаете какой выбрать тариф?<br>Тогда выберите свою тематику</div>
			<div class="industry-row-grid">
				
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr1.png" alt=""></i>
						<p>Автосервисы и станции ТО</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr2.png" alt=""></i>
						<p>Ремонт квартир</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr3.png" alt=""></i>
						<p>Юридические<br>услуги</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr4.png" alt=""></i>
						<p>Салон штор</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr5.png" alt=""></i>
						<p>Автосалоны и авто подборы</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr6.png" alt=""></i>
						<p>Строительные компании</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr7.png" alt=""></i>
						<p>Кафе и рестораны</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr8.png" alt=""></i>
						<p>Магазин люстр и освещения</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr9.png" alt=""></i>
						<p>Агентство недвижимости</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr10.png" alt=""></i>
						<p>Строительные материалы</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr11.png" alt=""></i>
						<p>Медицинские услуги и товары</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr12.png" alt=""></i>
						<p>Индустриальное производство</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr13.png" alt=""></i>
						<p>Детские товары</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr14.png" alt=""></i>
						<p>Магазин одежды и обуви</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr15.png" alt=""></i>
						<p>Рекламное агентство и типография</p>
					</a>
					<a href="" class="industry-row-item">
						<i class="industry-image"><img src="./assets/images/industr16.png" alt=""></i>
						<p>Мебельные салоны</p>
					</a>
				
			</div>
		</div>
		<div class="other-services-row" data-aos="fade-up">
			<div class="blue-info-block-title" style="margin-bottom: 12px;">Дальнейшее продвижение сайта</div>
			<div class="blue-info-block-under-title">Услуги которые нужны после разработки сайта</div>
			<div class="other-services-row-grid">
					<div class="other-services-item columns-list">
						<div class="other-services-item-name">Продвижение</div>
						<ul>
							<li><a href="">Продвижение сайтов</a></li>
							<li><a href="">Обслуживание сайта</a></li>
							<li><a href="">SEO оптимизация (одноразовая)</a></li>
							<li><a href="">Полный интернет маркетинг</a></li>
							<li><a href="">Контекстная реклама</a></li>
							<li><a href="">Анализ конкурентов</a></li>
							<li><a href="">SMM - работа с соц. сетями</a></li>
							<li><a href="">Написание статей</a></li>
							<li><a href="">Работа с репутацией</a></li>
							<li><a href="">Анализ сайта по 120 пунктам</a></li>
						</ul>
					</div>
			</div>
		</div>
		<div class="about-company-row cs-info_nonan" data-aos="fade-up" style="padding: 0px 0 60px 0;">
			<div class="about-company-row-info">
				<div class="blue-info-block-title">Заказать сайт визитку</div>
				<div class="about-company-row-text">
					<p>Сайт визитка – это обычный на вид сайт, состоящий из нескольких страниц. Основной его задачей является краткая передача информации о компании или персоне, направленная на привлечение внимания посетителей. Правильно созданный сайт-визитка формирует положительный имидж и отвечает на все основные вопросы.</p>
					<h4>Визитная карточка онлайн включает в себя следующие разделы:</h4>
					<ul>
						<li>Небольшое описание о предлагаемых товарах или услугах, основные цели и задачи компании.</li>
						<li>Перечень предоставляемых услуг и продуктов.</li>
						<li>Фотографии, портфолио.</li>
						<li>Контакты для связи.</li>
					</ul>
					<p>Дополнительно на сайте могут присутствовать и другие данные.</p>
				</div>
			</div>
			<div class="cs-info__rtrs-map" style="align-items: flex-end; margin-top: 0;">
				<div class="cs-info__rtrs-pic-wrap">
					<picture class="cs-info__picture">
						<img src="./assets/images/viz.png" alt="big-map" class="cs-info__image cs-info__image--rtrs-map">
					</picture>
				</div>
			</div>
		</div>
		<div class="why-we-row cs-info_nonan" data-aos="fade-up">
			<div class="cs-info__rtrs-analytics">
				<div class="cs-info__rtrs-pic-wrap v-appeared">
					<picture class="cs-info__picture cs-info__picture">
						<img src="./assets/images/0cdbfbc.png" alt="analytics" class="cs-info__image cs-info__image--rtrs-analytics">
					</picture>
					<div class="cs-info__rtrs-layers cs-info__rtrs-layers--blue">
						<img src="./assets/images/square3.png" alt="layer" class="cs-info__image cs-info__image--layer-4">
						<img src="./assets/images/square2.png" alt="layer" class="cs-info__image cs-info__image--layer-3">
						<img src="./assets/images/square2.png" alt="layer" class="cs-info__image cs-info__image--layer-2">
						<img src="./assets/images/square1.png" alt="layer" class="cs-info__image cs-info__image--layer-1">
					</div>
					<div class="cs-info__rtrs-layers cs-info__rtrs-layers--red">
						<img src="./assets/images/square4.png" alt="layer" class="cs-info__image cs-info__image--layer-4">
						<img src="./assets/images/square2.png" alt="layer" class="cs-info__image cs-info__image--layer-3">
						<img src="./assets/images/square2.png" alt="layer" class="cs-info__image cs-info__image--layer-2">
						<img src="./assets/images/square1.png" alt="layer" class="cs-info__image cs-info__image--layer-1">
					</div>
					
				</div>
			</div>
			<div class="why-we-row-inner">
				<div class="blue-info-block-title">Разработка сайта визитки</div>
				<div class="why-we-row-text">
					<p>Перед тем как заказать создание сайта визитки, вам следует знать о том что в него будет входить. Возможно вам подойдет более дешевый вариант <a href="">Лендинг пейдж</a> или наобород вариант по серьезнее - <a href="">корпоративный сайт.</a></p>
					<p>Обычно под сайтов-визиткой подразумевается малостраничный сайт (до 10 страниц), который, как и подразумевается в названии, выступает в качестве визитной карточки компании. На сайте визитке размещается: Основная информация о деятельности компании, контактная информация, новостной блок, фотогалерея.</p>
					<p>Важно понимать, что такой тип сайта несет в себе имиджевую составляющую, нежели продающую. Визитка подходит для небольших частных предпринимателей.</p>
				</div>
			</div>
		</div>
		<div class="about-company-row cs-info_nonan" data-aos="fade-up" style="padding: 0px 0 60px 0;">
			<div class="about-company-row-info">
				<div class="blue-info-block-title">Сайт визитка под ключ</div>
				<div class="about-company-row-text">
					<p>Главной преимуществом разработки сайта-визитки является его низкая цена и быстрые сроки создания. Это возможно благодаря малому количеству страниц сайта. Однако, и здесь всю индивидуально. Если вы предполагаете сложный авторский дизайн или какие-то сложные технические задумки, то даже создание сайта-визитки сможет затянуться, поэтому такие вопросы решаются в индивидуальном порядке с каждым клиентом. Позвоните нам, чтобы Подробнее на создание сайта-визитки актуальную на сегодняшний день.</p>
					<p>Сайт-визитка может стать отличным выбором для новичков, которые только начинают свой путь в мире бизнеса. Выбрав стандартное создание сайта-визитки под ключ, они смогут получить стильный сайт с набором всей необходимой информации по привлекательной цене.</p>
				</div>
			</div>
			<div class="cs-info__rtrs-map" style="align-items: flex-end; margin-top: 0;">
				<div class="cs-info__rtrs-pic-wrap">
					<picture class="cs-info__picture">
						<img src="./assets/images/viz2.png" alt="big-map" class="cs-info__image cs-info__image--rtrs-map">
					</picture>
					
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="form-and-advantages" data-aos="fade-up">
		<div class="container">
			<div class="main-page-form">
				<img src="./assets/images/manager.png" alt="">
				<div class="main-page-form-inner">
					<div class="main-page-form-title"><h2>Заказать сайт визитку</h2> по телефону</div>
					<div class="main-page-form-name">Хотите получить консултацию на понятном языке?</div>
					<form action="">
						<input class="managInput" type="phone" placeholder="+7 (___) ___-__-__">
						<input class="managSubmit" type="submit" value="Отправить">
					</form>
				</div>
			</div>
			<div class="advantages-content">
				<div class="advantages-item">
					<div class="advantages-item-num">392</div>
					<div class="advantages-item-text">Сделали сайтов<br>за 5 лет</div>
				</div>
				<div class="advantages-item">
					<div class="advantages-item-num">280</div>
					<div class="advantages-item-text">Ежедневно приносят<br>прибыль владельцам</div>
				</div>
				<div class="advantages-item">
					<div class="advantages-item-num">128</div>
					<div class="advantages-item-text">Сайтов продвинули<br>в ТОП <span class="red_text">Я</span>ндекс и <span class="blue_text">Google</span></div>
				</div>
				<div class="advantages-item">
					<div class="advantages-item-num">12</div>
					<div class="advantages-item-text">Сайтов ТОП уровня</div>
				</div>
			</div>
		</div>
	</div>
	<div class="our-works_block" data-aos="fade-up">
			<div class="our-works-title">Наши последние работы</div>
			<div class="our-works-text">Каждый месяц мы запускаем от 10 до 15 сайтов, каждый сайт индивидуально сделан для наших клиентов и имеет уникальный дизайн. Все наши работы вы можете посмотреть в разделе <a href="">портфолио</a></div>
			<div class="our-works-inner">
				<div class="swiper-container our-works-swiper">
    				<div class="swiper-wrapper">
						{% for item in 0..7 %}
						<div class="swiper-slide our-works-swiper-content">
							<a href="" class="our-works-item" style="background-image: url(./assets/images/work.jpg);">
								<div class="our-works-item-info">
									<div class="our-works-item-name">Сайт фотографа</div>
									<div class="our-works-item-link">Подробнее</div>
								</div>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="swiper-button-prev"><img src="./assets/images/swiper-left_w.png" alt=""></div>
    			<div class="swiper-button-next"><img src="./assets/images/swiper-right_w.png" alt=""></div>
			</div>
			<div class="all-works-link"><a href="">Открыть все работы</a></div>
	</div>
	<div class="about-company-block" data-aos="fade-up">
		<div class="container-2">
			<div class="about-company-block-content">
			<div class="block-long-seo-content">
				<div class="seo-content-img">
					<img src="./assets/images/viz3.jpg" alt="">	
				</div>
				<div class="seo-content-info">
					<div class="seo-content-info-title"><h3>Купить сайт визитку или заказать?</h3></div>
					<div class="seo-content-info-text">
						<p>Чтобы найти номер парикмахерской, медклиники, юриста, строительной компании или автосервиса, частных мастеров или программистов мы идем сразу в интернет.</p>
						<p>Точно так же и ваши клиенты должны вас находить. 
						Если у вас есть бизнес, Вы обязаны быть в интернете, так вы найдете себе новых клиентов, которые расскажут о вас своим друзьям и знакомым, это приведет вам еще больше клиентов. Люди должны заходить в интернет и сразу-же видеть ваш номер телефона и ваши контакты.</p>
						<p>Именно такой должен быть идиальный сайт визитка.</p>
					</div>
				</div>
			</div>
			<div class="block-long-seo-content">
				<div class="seo-content-img">
					<img src="./assets/images/viz4.jpg" alt="">	
				</div>
				<div class="seo-content-info">
					<div class="seo-content-info-text">
						<p>Вы решили создать сайт визитку, теперь перед вами большой выбор ценовых категорий. Каждый говорит что сделает лучше всех и ваш сайт будет на первых местах. Давайте дадим совет по выбору подрядчика. Сайт должен состоять из 4-х оченьжных пунктов:</p>
						<p><b>Подготовительный этап</b> - анализ конкурентов и сферы деятельности, ведь сайт должен нравится не вам, а вашим клиентам.<br>
						<b>Дизайн</b> - После чего сайту предают красивый внешний вид веб-дизайнеры.<br>
						<b>Программирование</b>- программисты верстают сайт под мобильные устройства и компьютеры, а в дальнейшем устанавливают его на платформу, чтобы сайтом было легко управлять.</p>
						<p><b>SEO</b> - Когда вроде бы все готово, все забывают о самом важном - это сео оптимизация сайта визитки. Без оптимизации ваш сайт не смогут найти в поисковых системах и он не будет искаться в Яндексе и Google.</p>
						<p><b>Сайт визитка у фрилансера</b> - заказать сайт у фрилансера это большой риск, как так человек не имеет юридической ответственности и может легко перестать отвечать на звонки. Но мы не будем вас пугать, и если Вы все же решили заказать сайт у фрилансера, то советуем почтитать нашу статью <a href="">“Как заказать сайт у фрилансера”</a></p>
					</div>
				</div>
				
			</div>
			</div>
		</div>
	</div>
	<div class="suits-triggers-block">
		<div class="container-2">
			<div class="suits-triggers-block-title">Кому подходит сайт визитка</div>
			<div class="suits-triggers-block-content">
				<div class="suits-triggers-item">
					<div class="suits-triggers-item-img"><img src="./assets/images/tr-1.png" alt=""></div>
					<div class="suits-triggers-item-info">
						<div class="suits-triggers-item-name">Заявить о себе</div>
						<div class="suits-triggers-item-text">Клиенты не могут найти вас? С сайтом визиткой они легко найдут вас и позвонят</div>
					</div>
				</div>
				<div class="suits-triggers-item">
					<div class="suits-triggers-item-img"><img src="./assets/images/tr-2.png" alt=""></div>
					<div class="suits-triggers-item-info">
						<div class="suits-triggers-item-name">У вас малый или средний бизнес</div>
						<div class="suits-triggers-item-text">У вас есть бизнес но нет сайта? Вам срочно нужно заявить о себе!</div>
					</div>
				</div>
				<div class="suits-triggers-item">
					<div class="suits-triggers-item-img"><img src="./assets/images/tr-3.png" alt=""></div>
					<div class="suits-triggers-item-info">
						<div class="suits-triggers-item-name">Работа в небольшом городе</div>
						<div class="suits-triggers-item-text">Вы работаете в небольшом городе? Зачем вам большой сайт, ва нужен сайт-визитка</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gifts-numbers_block">
		<img class="gifts-img" src="./assets/images/gift.png" alt="">
		<div class="gifts-info">
			<div class="gifts-info-title">Мы каждый день дарим подарки</div>
			<div class="gifts-info-text">Все любят получать подарки, а мы любим дарить 
подарки! Каждый день мы дарим нашим клиентам
SEO продвижение, настройку рекламы и многое другое. 
Позвони и получи гарантированный подарок</div>
		</div>
		<div class="gifts-numbers">
			<div class="gifts-numbers-name">Позвони сейчас</div>
			<a href="">+7 (800) 201-55-27</a>
			<a href="">+7 (991) 312-09-06</a>
		</div>
	</div>
	<div class="bottom-seo-content" data-aos="fade-up" style="background-color: #fff;">
		<div class="container-3">
			<div class="video-title">Видео о нашей студии</div>
			<div class="video-block youtube" data-embed="UTgijnMNr6s" data-aos="fade-up">
        <div class="play-button">
            <img src="./assets/images/play.png" alt="">
        </div> 
    </div>
    <div class="under-video-text">
    	<b>Студия IS ART</b> - занимается созданием и продвижением сайтов с 2015 года. Мы ставим в приоритет дизайн и интернет-маркетинг, поэтому наши сайты продают товары, а не просто висят в интернете!
    </div>
		</div>
	</div>
		<div class="our-team" data-aos="fade-up" style="background-color: #fff; padding-bottom: 30px;">
		<div class="container-2">
			<div class="our-team-title" style="text-align: center;">Наша команда</div>
			<div class="swiper-container our-team-swiper">
	    		<div class="swiper-wrapper our-team-swiper">
					{% for item in 0..7 %}
					<div class="swiper-slide our-team-swiper-content">
						<div class="our-team-photo"><img src="./assets/images/team.jpg" alt=""></div>
						<div class="our-team-name">Олег Фадеев</div>
						<div class="our-team-post">Front-end разработчик</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="sertificates_block" data-aos="fade-up" style="background-color: #fff; padding-top: 30px;">
		<div class="container-3">
			<div class="sertificates_block-title">Сертификаты</div>
			<div class="swiper-container sertificates-swiper">
    			<div class="swiper-wrapper">
    				{% for item in 0..5 %}	
					<div class="swiper-slide">
						<a class="sertificates-swiper-content" href=""><img src="./assets/images/cross.jpg" alt=""></a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="main-page-blog" data-aos="fade-up">
		<div class="container-2">
			<div class="main-page-blog-title">Интересная информация</div>
			<div class="main-page-blog-content">
				{% for item in 0..3 %}
				<a href="https://is-art.ru/bitrix-ili-wordpress-sravnenie-platform/" class="main-page-blog-item" style="background-image: url(https://is-art.ru/wp-content/uploads/2020/01/bfdb86f719f67b0b5843e22c901cf427.jpg);">
					<object><a href="https://is-art.ru/category/blog/" class="main-page-blog-item-price">Блог</a></object>
					<div class="main-page-blog-item-info">
						<div class="main-page-blog-item-info-content">
						<div class="main-page-blog-item-name"><h4>Bitrix или WordPress – сравнение платформ</h4></div>
						<div class="main-page-blog-item-text">
							<p>Битрикс или WordPress: почему дорого – не всегда круто? Если вы решите разработать сайт для своего бизнеса, то после выбора доменного имени (имени сайта) и хостинга (места для хранения файлов сайта) вам следует уделить второе…</p>
						</div>
						</div>
						<div class="main-page-blog-item-links">
							<div class="open-link"><span>Подробнее</span></div>
						</div>
					</div>
				</a>
				{% endfor %}                  
            </div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}