header.main-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    min-width: 1230px;
}
.main-header-top{
    padding: 20px 0 25px;
    border-bottom: 1px solid #fff;
}
.main-header-top .container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-header-top-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 525px);
    padding-right: 80px;
}
.main-header-logo {
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-header-logo a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.logo-image{
	width: 140px;
	display: inline-block;
}
i.logo-image img {
    filter: brightness(0) invert(1);
}
h3.logo-text {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    width: 144px;
    line-height: 1.167;
}
.main-header-kp-link{}
.main-header-kp-link a {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    width: 125px;
    background-image: url(../images/brif.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0px 0 0 45px;
}
.main-header-top-right {
    width: 525px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 45px;
    border-left: 1px solid #c4c4c4;
}
.main-header-top-item {
    width: 225px;
    background-image: url(../images/phone.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding-left: 33px;
}
.main-header-top-item a{
    display: inline-block;
    transition: 0.3s ease;
}
a.main-header-phone {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}
a.main-header-callback {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-decoration: dashed;
}
.main-header-top-item{}
a.main-header-email {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
.main-header-bottom{
    padding: 20px 0;
}
.main-header-bottom .container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.main-header-bottom-menu{}
.main-header-bottom-menu ul{
    padding: 0;
    margin: 0;
}
.main-header-bottom-menu ul li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.main-header-bottom-menu ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
}
.main-header-bottom-link {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s ease;
}
.main-header-top-item a:hover,
.main-header-bottom-menu ul li a:hover,
a.main-header-bottom-link:hover {
    color: #6ccc58;
}
.main-header-bottom-link:first-child{
    margin-left: 0; 
}
.main-header-sub-menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: auto;
    background-color: #fff;
    padding: 25px 28px;
}
.main-header-sub-menu:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: -3px;
    left: 65px;
    transform: rotate(45deg);
    z-index: -1;
}
.main-header-sub-menu-grid{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(235px,1fr));
    grid-gap: 40px 70px;
}
.sub-menu-item{}
.sub-menu-item-name{
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 12px;
}
.sub-menu-item ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sub-menu-item ul li{
    margin-bottom: 10px;

}
.sub-menu-item ul li a{
    color: #515151;
    font-size: 14px;
}
.sub-menu-open-all{
    font-size: 14px;
    color: #1aa74b;
    font-weight: 700;
}